/* body {
  background-color: rgb(65, 85, 237);
}

.App {
  border: 1px solid rgb(65, 85, 237);
  background-color: white;
  border-radius: 10px;
  width: 90vh;
  display: flex;
  justify-content: center;
  padding: 10vh;
  margin: 10vh 40vh 200vh 40vh;
} */
